---

---

<footer class='bg-black text-white p-6'>
  <h2 class='hidden'>Footer</h2>
  <p class='outfit'>
    Italia Personal Finanza - <a
      href='https://github.com/emish89/italiapersonalfinance'
      target='_blank'
      class='text-blue'>Github</a
    >
  </p>
</footer>
