---
import RecentBlogPosts from '@components/generic/RecentBlogPosts.astro';
import Layout from '@layouts/Default.astro';
import ErrorPage from '@components/errors/404.astro';
---

<Layout
  title='Pagina Non Trovata'
  description='Pagina non trovata'
  classList='h-full'
  pageTitle='Pagina non trovata!'
>
  <main class='bg-blue px-6 py-24'>
    <ErrorPage />
    <RecentBlogPosts />
  </main>
</Layout>
