---
import Layout from '@layouts/Default.astro';
import RecentBlogPosts from '@components/generic/RecentBlogPosts.astro';
import MobileSocials from '@components/home/MobileSocials.astro';
import { Pill } from '@eliancodes/brutal-ui';
import { Button } from '@eliancodes/brutal-ui';
import { getCollection } from 'astro:content';
import Card from '@components/generic/Card.astro';

const allPosts = await getCollection('blog');

const tags = new Set<string>();

allPosts.forEach((post) => {
  post.data.tags.forEach((tag) => {
    tags.add(tag.toLowerCase());
  });
});
const availableTags = Array.from(tags).map((tag) => {
  return {
    name: tag,
    url: `/blog/tags/${tag}`,
  };
});
---

<Layout
  title='Home'
  pageTitle='Italia Personal Finance | Home'
  description='Wiki page di Italia Personal Finance | Italia Personal Finance è una community di persone che condividono la passione per la finanza personale e l’investimento.'
>
  <main class='bg-pink-200 p-6'>
    <MobileSocials />
    <section id='about' class='grid md:grid-cols-8 gap-8 mt-4'>
      <div class='col-span-4'>
        <Card color='#fb923c'>
          <div class='flex flex-col justify-between items-start gap-4'>
            <p class='mt-4 outfit text-2xl md:text-5xl lg:text-7xl'>
              Italia Personal Finance
            </p>
            <p class='mt-2 outfit text-xl md:text-3xl lg:text-5xl'>
              Il sito della community Reddit di personal finance più famosa
              d'Italia
            </p>
            <Button
              target={'_self'}
              href='https://www.reddit.com/r/ItaliaPersonalFinance/'
            >
              Scopri su Reddit
            </Button>
          </div>
        </Card>
      </div>
      <div class='col-span-2'>
        <Card color='#818cf8'>
          <h2 class='text-2xl md:text-4xl lg:text-6xl mb-8 dm-serif'>
            Italia Personal Finance parla di
          </h2>
          <ul class='flex gap-4 flex-wrap'>
            {
              availableTags.map((item) => (
                <li>
                  <Pill>
                    <a
                      class='sanchez'
                      href={item.url}
                      title={`Go to ${item.name}`}
                    >
                      {item.name}
                    </a>
                  </Pill>
                </li>
              ))
            }
          </ul>
        </Card>
      </div>
      <div class='col-span-2'>
        <Card color='#facc15'>
          <h2 class='text-2xl md:text-4xl lg:text-6xl mb-4 dm-serif'>
            La Wiki di IPF
          </h2>
          <p class='poppins'>
            La pagina Wiki di Italia Personal Finance contiene il materiale base
            per iniziare ad approcciare la finanza personale e l'investimento.
          </p>
          <Button target={'_self'} href='/blog/wiki'>Vai alla Wiki</Button>
        </Card>
      </div>
    </section>
    <RecentBlogPosts />
  </main>
</Layout>
