---
import Layout from '@layouts/Default.astro';
import SearchBar from '@components/generic/SearchBar.astro';
import RecentBlogPosts from '@components/generic/RecentBlogPosts.astro';
---

<Layout
  title='Page Not Found'
  description='Page not found'
  classList='h-full'
  pageTitle='Page Not Found!'
>
  <main class='bg-blue px-6 py-24'>
    <SearchBar />
    <RecentBlogPosts />
  </main>
</Layout>
