---
const socials = [
  {
    name: 'GitHub',
    url: 'https://github.com/emish89/italiapersonalfinance',
    icon: 'i-uil-github',
    target: '_blank',
  },
  {
    name: 'Reddit',
    url: 'https://www.reddit.com/r/ItaliaPersonalFinance/',
    icon: 'i-uil-reddit-alien-alt',
    target: '_blank',
  },
  {
    name: 'Search',
    url: '/search',
    icon: 'i-uil-search',
    target: '_self',
  },
];
---

<section class='md:hidden'>
  <h2 class='hidden'>Socials section</h2>
  <ul class='flex justify-between'>
    {
      socials.map((item) => (
        <li class='bg-white px-4 py-2 text-green border-black border-2 rounded card-shadow'>
          <a href={item.url} target={item.target} title={`Go to ${item.name}`}>
            <div class:list={[item.icon, 'p-6']} />
          </a>
        </li>
      ))
    }
  </ul>
</section>
