---
---
<!-- TradingView Widget BEGIN -->
<div class='tradingview-widget-container'>
  <div class='tradingview-widget-container__widget'></div>
  <script type='text/javascript' src='https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js' async>
  {
  "symbols": [
    {
      "proName": "FOREXCOM:SPXUSD",
      "title": "S&P 500"
    },
    {
      "proName": "FX_IDC:EURUSD",
      "title": "EUR a USD"
    },
    {
      "proName": "BITSTAMP:BTCUSD",
      "title": "Bitcoin"
    },
    {
      "description": "VWCE",
      "proName": "TRADEGATE:VWCE"
    },
    {
      "description": "FTSE MIB",
      "proName": "INDEX:FTSEMIB"
    }
  ],
  "showSymbolLogo": true,
  "isTransparent": true,
  "displayMode": "adaptive",
  "colorTheme": "light",
  "locale": "it"
}
  </script>
</div>

<!-- TradingView Widget END -->
