<section class="giscus mx-auto mt-10 max-w-lg"></section>

<script src="https://giscus.app/client.js"
        data-repo="emish89/italiapersonalfinance"
        data-repo-id="R_kgDOKrfBTA"
        data-category="Blog Post Comments"
        data-category-id="DIC_kwDOKrfBTM4Ca1ge"
        data-mapping="url"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="noborder_light"
        data-lang="it"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>